<h1>Demo#index</h1>
<p>Hello from index!</p>

<a href = "/demo/index/">Hello page 1 </a><br />

<%= link_to('Hello page 2', {:controller => 'demo', :action => 'hello'}) %>

<br />

<%= link_to('Hello  with parameters', {:controller => 'demo', :action => 'hello', :page => 5, :id => 20}) %>

<br />

<%= link_to('Roar', '#', :onclick => "jsRoar('JavaScript'); return true;") %>

<br />

<% name = "kelvin" %>

<% name = "Sorry!'); alert ('I hacked you!" %>

<%= link_to('Roar2', '#', :onclick => "jsRoar('#{j(name)}'); return true;") %>

<%= javascript_tag("jsRoar('Rails');") %>